@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Radley:ital@0;1&family=Young+Serif&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Nunito;
    text-align: center;
    min-height: 100vh;
    background-color: white;
    color: black;
}

/* Navbar */
nav {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 8px 0px 8px 0px;
    font-family: Nunito;
}

nav a {
    /* margin-right: 20px;
    color: white;*/
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.9s;
}

nav a:hover {
    /* text-decoration: overline; */
    border-bottom: 1px solid;
}

/* Carousel */
.carousel-container {
    position: relative;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
}

.carousel {
    display: flex;
    width: calc(100% * 4);
    height: 100%;
    transition: transform 1s ease-in-out;
}

.carousel img {
    width: 100vw;
    height: 100%;
    object-fit: cover;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-image {
    position: absolute;
    max-width: 35%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Carousel Controls */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Accordion */
.accordion-container {
    margin: 20px auto;
}

/* Accordion width adjustment based on screen size */
@media (min-width: 768px) {
    .accordion-container {
        width: 60%;
    }
}

@media (max-width: 767px) {
    .accordion-container {
        width: 80%;
    }
}

details {
    border: 3px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Nunito;
    text-transform: uppercase;
    /* color: white;
    background: linear-gradient(45deg, #ff7e5f, #feb47b); */
}

summary {
    font-size: 20px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

input,
select {
    padding: 8px;
    font-size: 16px;
    width: 100%;
}

button {
    padding: 10px;
    font-size: 18px;
    background: black;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background: rgb(91, 90, 90);
}

.extratext {
    text-align: center;
    padding: 20px;
    width: 70%;
    margin: 10px auto;
}

/* Footer */

.footer {
    border-top: 1px solid #000000;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
    font-family: 'Georgia', serif;
}

/* About */

.aboutnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: auto;
    /* Adjust based on your navbar height */
}

.logo img {
    height: 100%;
    width: auto;
    max-height: 40px;
}

.aboutnav a {
    color: black;
}

.about-main {
    margin-top: 75px;
    font-family: 'Georgia', serif;
}

.hero {
    text-align: center;
    padding: 40px;
}

.hero h1 {
    font-size: 36px;
    font-weight: normal;
    line-height: 1.3;
    margin: auto;

}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    gap: 40px;
}

.about-left,
.about-right {
    width: 30%;
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
}

.about-right {
    text-align: right !important;
}

.about-image {
    width: 35%;
    max-width: 400px;
    border-radius: 10px;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .about-container {
        gap: 20px;
    }

    .about-left,
    .about-right {
        width: 35%;
    }

    .about-image {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .about-left,
    .about-right {
        width: 80%;
    }

    .about-image {
        width: 90%;
        max-width: 500px;
    }
}

@media screen and (max-width: 480px) {

    .about-left,
    .about-right {
        width: 100%;
    }

    .about-image {
        width: 100%;
    }
}